.button {
    color: #fff;
    background-color: #a2c2c7;
    border-color: #17a2b8;
}
.header {
    color: darksalmon;
    text-align: center;
    font-family: 'Indie Flower', 'Comic Sans', cursive;
}